[submodule "lib/ccip"]
	path = lib/ccip
	url = https://github.com/smartcontractkit/ccip
[submodule "lib/chainlink-ccip"]
	path = lib/chainlink-ccip
	url = https://github.com/smartcontractkit/chainlink-ccip
